#boton_Login{
    background: linear-gradient(45deg, #3b82f6, #0284c7, #1e3a8a);
    color: white;
}

#registroUsu{
    color: #0ea5e9;
}

#registroUsu:hover{
    color: #2563eb;
}

.forgot{
    color: #db2777;
}

#form_Login label{
    color: #0ea5e9;
}

#form_Login{
  margin-top: 6em;
}

#welcome{
    background: linear-gradient(45deg, #0ea5e9, #1e40af);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#footer > a{
    color: #a1a1aa;
  }
  
#footer > p{
    color: #a1a1aa;
  }

  .mt-custom{
    margin-top: 4em;
  }

  #form_Login {
    display: grid;
    align-self: center;
  }
  
  